

<h3>لیست کارمندان</h3>
<br />
<a routerLink='/add' class="btn-info">افزودن</a>
<br />
<br />

<p-table [value]="employees">

  <ng-template pTemplate="header">

    <tr>

      <th>شناسه</th>

      <th>نام</th>

      <th>حقوق</th>
      <th>سن</th>
      <th></th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-employee>
    <tr>
      <td>{{employee.id}}</td>
      <td>{{employee.employee_name}}</td>
      <td>{{employee.employee_salary}}</td>
      <td>{{employee.employee_age}}</td>
      <td>
        <a class="badge badge-warning" href="delete/{{ employee.id }}">
          حذف کاربر
        </a>
      </td>
    </tr>
  </ng-template>
</p-table>
