<h3>افزودن کارمندان</h3>
<hr />

<form #myForm="ngForm" style="text-align:center" (ngSubmit)="saveEmployee()">

  <div *ngIf="!submitted">

    <h3 class="first">نام</h3>
    <input id="input" type="text" size="30" pInputText [(ngModel)]="employee.name" #name="ngModel" required name="name">

    <div *ngIf="name.touched">

      <div *ngIf="name.errors?.required" class="red">
        لطفا نام را وارد کنید
      </div>


    </div>


    <h3>سن</h3>
    <span class="ui-float-label">
      <input id="float-input" type="number" size="30" pInputText [(ngModel)]="employee.age" #age="ngModel" required name="age">

    </span>


    <div *ngIf="age.touched">

      <div *ngIf="age.errors?.required" class="red">
        لطفا سن را وارد کنید
      </div>


    </div>

    <h3>حقوق</h3>
    <span class="ui-float-label">
      <input id="float-input" type="text" size="30" pInputText [(ngModel)]="employee.salary" #salary="ngModel" required name="salary">

    </span>


    <div *ngIf="salary.touched">

      <div *ngIf="salary.errors?.required" class="red">
        لطفا حقوق را وارد کنید
      </div>


    </div>

    <input type="submit" value="ارسال اطلاعات" [disabled]="!myForm.form.valid">
  </div>

  </form>
  <div *ngIf="submitted">
    <h4>کارمند با موفقیت درج شد</h4>
    <br />
    <a routerLink='/add'>افزودن</a>
    <br />
  </div>

