

<table>
  <tr>

    <td width="200px">
      <ul id="menu">
        <li><a routerLink='/show'>کارمندان</a></li>
        <li><a routerLink='/chat'>چت</a></li>
    
      </ul>
    </td>
    <td>
      <router-outlet></router-outlet>
    </td>
  </tr>
</table>

