table {
  width: 960px;
  border: dashed 1px #eee;
  direction: rtl;
  margin: 0 auto;
  table-layout: fixed;
  vertical-align: top;
}

td {
  vertical-align: top;
}

#menu li {
  margin-bottom: 10px;
}

  #menu li a {
    text-decoration: none;
    color: #000;
  }
