
/* You can add global styles to this file, and also import other style files */
body {
  background: #eee;
  color: var(--color-text) !important;
  font-family: Tahoma !important;
  
 /* margin: 0 !important;
  overflow-x: hidden !important;
  padding: 1rem 0 !important;*/
  direction: rtl;
  text-align: right !important;
}

form{
    text-align:right !important;
}
.red{
    color:red;
}


input[type=button], input[type=submit], input[type=reset],.btn-info {
  background-color: #4CAF50;
  border: none;
  color: white;
  padding: 16px 32px;
  text-decoration: none;
  margin: 4px 2px;
  cursor: pointer;
  font-family:Tahoma !important;
}
  input[type=submit]:disabled {
    background: #dddddd;
  }
