<div class="edit-form">
  <h4>آیا برای حذف کاربر   مطمئن هستید؟</h4>
  <form>
    <div class="form-group">
      <label for="title">شناسه کاربر </label>
      {{id | json}}
    </div>

  </form>




  <button (click)="deleteEmployee()">
    حذف
  </button>


  <p>{{ message }}</p>
</div>


